<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>profilePhoto</key>
			<string>Barack-Obama.jpg</string>
			<key>postTitle</key>
			<string>looking nice</string>
			<key>profileName</key>
			<string>Barack Obama</string>
			<key>time</key>
			<string>4:10hs</string>
		</dict>
		<string>imgres.jpg</string>
		<dict>
			<key>profilePhoto</key>
			<string>bill-gates.jpg</string>
			<key>profileName</key>
			<string>bill gates</string>
			<key>comment</key>
			<string>really funy pic.</string>
		</dict>
		<dict>
			<key>profilePhoto</key>
			<string>Brad-Pitt.jpg</string>
			<key>profileName</key>
			<string>Brad Pitt</string>
			<key>comment</key>
			<string>this is funny.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>profilePhoto</key>
			<string>Brad-Pitt.jpg</string>
			<key>postTitle</key>
			<string>looking so nice.</string>
			<key>profileName</key>
			<string>ammad</string>
			<key>time</key>
			<string>2:30s</string>
		</dict>
		<string>imgres-2.jpg</string>
		<dict>
			<key>profilePhoto</key>
			<string>evangeline-lilly.jpg</string>
			<key>profileName</key>
			<string>evangeline lilly</string>
			<key>comment</key>
			<string>beautiful picture.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>profilePhoto</key>
			<string>bill-gates.jpg</string>
			<key>postTitle</key>
			<string>what a nice pic.</string>
			<key>profileName</key>
			<string>saddam</string>
			<key>time</key>
			<string>4:10hs</string>
		</dict>
		<string>steve_jobs.jpg</string>
		<dict>
			<key>profilePhoto</key>
			<string>Brad-Pitt.jpg</string>
			<key>profileName</key>
			<string>Brad Pitt</string>
			<key>comment</key>
			<string>yes really looking nice picture.</string>
		</dict>
		<dict>
			<key>profilePhoto</key>
			<string>evangeline-lilly.jpg</string>
			<key>profileName</key>
			<string>evangeline lilly</string>
			<key>comment</key>
			<string>how funy.</string>
		</dict>
		<dict>
			<key>profilePhoto</key>
			<string>bill-gates.jpg</string>
			<key>profileName</key>
			<string>bill gates</string>
			<key>comment</key>
			<string>Really Nice.</string>
		</dict>
	</array>
</array>
</plist>
